@model Chef

<div class="container">
    <a href="/dishes/all">Home</a>
    <h1 class="">Add a Chef!</h1>
    <form asp-action="Create" asp-controller="Chef">
        <div class="row">
            <div class="col">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
            </div>
            <div class="col">
                <label asp-for="DOB"></label>
                <input type="date" asp-for="DOB">
                <button type="submit">Add Chef</button>
            </div>
        </div>
    </form>
</div>