@model Dish

<div class="container">
    <a href="/dishes/all">Home</a>
    <h1 class="">Add a Dish!</h1>
    <form asp-action="Create" asp-controller="Dish">
        <div class="row">
            <div class="col">
                <label asp-for="Name"></label>
                <input asp-for="Name">
                <label asp-for="Calories"></label>
                <input asp-for="Calories">
                <label asp-for="Description"></label>
                <input asp-for="Description">
            </div>
            <div class="col">
                <select asp-for="ChefId">
                @foreach (Chef chef in ViewBag.AllChefs)
                {
                    <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                }
                </select>
            </div>
            <div class="col">
                <select asp-for="Tastiness">
                    <option default selected>how many stars out of five?</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <button type="submit">Add Dish</button>
    </form>
</div>